<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
	<h1>
		מודל מיסוי בית קמה
	</h1>
	<div class="inputs">
		<div class="input">
			<label for="adults">יש מגרש?</label>
			<input name="adults" type="checkbox" [(ngModel)]="hasArea"/>
      </div>
			<div class="input">
				<label for="adults">מבוגרים מגיל 21:</label>
				<input name="adults" type="number" min="0" max="4" [(ngModel)]="adults"/>
      </div>
				<div class="input">
					<label for="elderly">ותיקים מגיל 70:</label>
					<input name="elderly" type="number" min="0" max="4" [(ngModel)]="elderly"/>
      </div>
					<div class="input">
						<label for="assisted">סיעודיים:</label>
						<input name="assisted" type="number" min="0" max="4" [(ngModel)]="assisted"/>
      </div>
						<div class="input">
							<label for="youngs">בני היישוב 21-28:</label>
							<input name="youngs" type="number" min="0" max="4" [(ngModel)]="youngs"/>
      </div>
							<div class="input">
								<label for="hiring">שוכרים מגיל 21:</label>
								<input name="hiring" type="number" min="0" max="8" [(ngModel)]="hiring"/>
      </div>
							</div>
							<div class="model-results">
								סכום חודשי לפי מודל פר ראש:<br/><br/>
								<table>
									<thead>
										<tr>
											<th>שנה</th>
											<th>סכום</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2021</td>
											<td>{{sumPerHead(2021)}}</td>
										</tr>
										<tr>
											<td>2022</td>
											<td>{{sumPerHead(2022)}}</td>
										</tr>
										<tr>
											<td>2023</td>
											<td>{{sumPerHead(2023)}}</td>
										</tr>
										<tr>
											<td>2024</td>
											<td>{{sumPerHead(2024)}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="model-results">
								סכום חודשי לפי מודל משולב:<br/><br/>
								<table>
									<thead>
										<tr>
											<th>שנה</th>
											<th>סכום</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2021</td>
											<td>{{sumPerHeadAndArea(2021)}}</td>
										</tr>
										<tr>
											<td>2022</td>
											<td>{{sumPerHeadAndArea(2022)}}</td>
										</tr>
										<tr>
											<td>2023</td>
											<td>{{sumPerHeadAndArea(2023)}}</td>
										</tr>
										<tr>
											<td>2024</td>
											<td>{{sumPerHeadAndArea(2024)}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>